<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welkom <b id="name"></b></h1>
            <p><b id="website"></b> heeft momenteel toegang tot uw pc.</p>
        </div>
    </div>
    <div class="row px-2">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Logs</th>
                </tr>
            </thead>
        </table>
        <div class="overflow-auto logs p-0">
            <table class="table table-striped">
                <tbody id="logs"></tbody>
            </table>
        </div>
    </div>
</div>