<div class="container">
    <h1 class="text-center">Login</h1>
    <hr>

    <div class="row">
        <p class="text-center">
            Hallo <b id="name"></b>, <br><br>

            <b id="website"></b> probeert te verbinden met uw computer met het account onder <b id="email"></b>. Klopt
            dit?
        </p>
    </div>
    <hr>
    <div class="row">
        <div class="d-flex justify-content-evenly">
            <button class="btn btn-success" id="confirm">Ja</button>
            <button class="btn btn-danger" id="deny">Nee</button>
        </div>
    </div>
</div>