<div class="container">
    <h1 class="text-center">Login</h1>
    <hr>

    <div class="row">
        <p class="text-center">
            Hallo <b id="name"></b>, <br><br>

            <b id="website"></b> probeert te verbinden met uw computer met het account onder <b id="email"></b>. Klopt
            dit?
        </p>
    </div>
    <hr>
    <div class="row  mb-3">
        <label class="user-select-none"><input type="checkbox" name="rememberMe" id="rememberMe" value=" Onthoud mij"/> Onthoud mij</label>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-success w-100" id="confirm">Ja</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger w-100" id="deny">Nee</button>
        </div>
    </div>
</div>